body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
  }
  
h1 , h3 {
    text-align: center;
    font-size: 30px;
}
h1 {
    color:rgb(47, 134, 166) ;
}
h3{
    color: rgb(52, 190, 130)
}
table{
    border:  2px solid rgb(47, 221, 146);
    margin: 0 auto ;
    width: 650px;

}
table th{
    background-color: rgb(242, 240, 19);
    color: rgb(52, 190, 130);
    padding: 8px;
}
table td{
    border-top: 1px solid rgb(52, 190, 130);
    padding: 10px;
}
.code {
    font-family: monospace;
    background-color: beige;
  }